// app global css in SCSS form
.custom-card {
  position: relative;
  &:before {
    content: var(--icon);
    position: absolute;
    font-family: "Material Design Icons", sans-serif;
    font-size: 10rem;
    opacity: 0.2;
    color: white;
    bottom: 40px;
    right: -2px;
  }
}

.category-card {
  position: relative;
  overflow: hidden;
  &:before {
    content: var(--icon);
    position: absolute;
    font-family: "Material Design Icons", sans-serif;
    font-size: 9rem;
    opacity: 0.2;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.q-card {
  border-radius: 12px;
  min-height: 150px;
}
